[submodule "SoapySDR"]
	path = SoapySDR
	url = https://github.com/TelecomDep/SoapySDR.git
    branch = soapy-sdr-0.8.1

[submodule "libiio"]
	path = libiio
	url = https://github.com/TelecomDep/libiio.git
    branch = v0.24

[submodule "libad9361-iio"]
	path = libad9361-iio
	url = https://github.com/TelecomDep/libad9361-iio.git
    branch = v0.3

[submodule "SoapyPlutoSDR"]
	path = SoapyPlutoSDR
	url = https://github.com/TelecomDep/SoapyPlutoSDR.git
    branch = sdr_gadget_timestamping
